# Все в игнор
*

# Исключаем из игнора файлы
!.gitignore

# Перечисляем каталоги в которых есть изменяемые файлы
!Dissertation
!biblio
!common
!images

# Перечисляем сами файлы
!dissertation.tex
!dissertation.pdf

!Dissertation/introduction.tex
!Dissertation/part1.tex
!Dissertation/part2.tex
!Dissertation/part3.tex
!Dissertation/part4.tex
!Dissertation/conclusion.tex

!biblio/biblatex.tex
!biblio/othercites.bib
#!biblio/authorconferences.bib
#!biblio/authorpapers.bib
!biblio/authorpapersVAK.bib

!common/characteristic.tex
!common/data.tex
!common/concl.tex

!images/*

!README.md

